In [4]:
import requests
import pandas as pd
import math
from time import sleep

In [5]:
# API URL
api_url = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+*+from+pscomppars&format=json"

In [6]:
# Make get request to the API
response = requests.get(api_url)
page = response
while page == response:
    try:
        page = response
        break
    except:
        print("Connection refused by the server..")
        print("Let me sleep for 5 seconds")
        print("ZZzzzz...")
        time.sleep(5)
        print("Was a nice sleep, now let me continue...")
        continue

In [8]:
# Check if the request was successful (status code 200?)
Planet_Name = []
Discovered_Year = []
Orbital_Period_days = []
SemiMajor_Axis_AU = []
Mass = []
Stellar_Luminosity = []
ra = []
dec = []
radius = []
density = []
Spectral_Type = []
Temperature = []

if response.status_code == 200:
    # Parse JSON response
    data = response.json()
    # Test to print the first few records
    for entry in data:
        Planet_Name.append(entry.get("pl_name"))
        Discovered_Year.append(entry.get("disc_year"))
        Orbital_Period_days.append(entry.get("pl_orbper"))
        SemiMajor_Axis_AU.append(entry.get("pl_orbsmax"))
        Spectral_Type.append(entry.get("st_spectype"))
        Mass.append(entry.get("pl_bmassj"))
        Temperature.append(entry.get("st_teff"))
        Stellar_Luminosity.append(entry.get("st_lum")) 
        ra.append(entry.get("ra"))       
        dec.append(entry.get("dec"))
        radius.append(entry.get("pl_rade")) 
        density.append(entry.get("pl_dens"))
else:
    print("Error:", response.status_code)

In [9]:

exoplanet_data = pd.DataFrame({'Planet Name':Planet_Name,'Discovery Year':Discovered_Year,'Orbital Period (days)':Orbital_Period_days,'SemiMajor Axis (AU)':SemiMajor_Axis_AU, 'Spectral_Type':Spectral_Type, 'Mass (Jupiter Mass)':Mass,'Temperature':Temperature,'Stellar_Luminosity':Stellar_Luminosity,'Right Ascension (RA)':ra,'Declination (Dec)':dec,'radius':radius,'density':density})
exoplanet_data = exoplanet_data.dropna()
print(len(exoplanet_data))
exoplanet_data['Stellar_Luminosity'] = 10**(exoplanet_data['Stellar_Luminosity'])
exoplanet_data['Temperature'] = exoplanet_data['Temperature']-273.15
exoplanet_data.head(10)

1753

,Planet Name,Discovery Year,Orbital Period (days),SemiMajor Axis (AU),Spectral_Type,Mass (Jupiter Mass),Temperature,Stellar_Luminosity,Right Ascension (RA),Declination (Dec),radius,density
5,TOI-1260 c,2021,7.493134,0.06570,K6 V,0.04153,3953.85,0.129122,157.144071,65.854199,2.760,3.450
6,HD 149143 b,2005,4.071820,0.05300,G0,1.33000,5582.85,2.238721,248.212671,2.084455,13.600,0.923
7,HD 210702 b,2007,354.100000,1.14800,K1 III,1.80800,4677.85,14.092888,332.963864,16.040481,13.400,1.310
8,HIP 12961 b,2010,57.435000,0.25000,M0,0.36000,3627.85,0.099312,41.680075,-23.086005,13.200,0.273
9,HD 11755 b,2015,433.700010,1.09000,G5,5.63000,4038.85,147.570653,29.707836,73.152137,12.800,4.690
11,HD 115954 b,2021,3700.000000,5.00000,G0 V,8.45000,5683.85,3.026913,199.985369,38.369138,12.600,7.380
12,HIP 97233 b,2014,1062.265060,2.49100,K0/1 III,19.18700,4746.85,15.995580,296.422121,-0.696879,12.100,18.900
13,HD 95872 b,2015,4375.000000,5.15000,K0 V,3.74000,5038.85,0.572796,165.865880,-22.094330,13.000,2.970
15,WASP-49 b,2012,2.781740,0.03790,G6 V,0.37000,5326.85,0.885116,91.089719,-16.965390,12.442,0.288
16,WASP-56 b,2012,4.617100,0.05614,G6,0.45000,5326.85,1.267652,183.366040,23.055687,10.536,0.583

In [10]:
lum = exoplanet_data['Stellar_Luminosity']
divisor_ri = 1.1
exoplanet_data['Ri (AU)'] = [math.sqrt(abs(x)/divisor_ri) for x in lum]
divisor_ro = 0.53
exoplanet_data['Ro (AU)'] = [math.sqrt(abs(x)/divisor_ro) for x in lum]
exoplanet_data['Habitable Zone'] = ['Yes' if exoplanet_data.iloc[x,12]<exoplanet_data.iloc[x,3] and exoplanet_data.iloc[x,13]>exoplanet_data.iloc[x,3] else 'No' for x in range(len(exoplanet_data))]

In [11]:
exoplanet_data['Planet Name'] = exoplanet_data['Planet Name'].astype('string')
exoplanet_data['Discovery Year'] = exoplanet_data['Discovery Year'].astype('int64')
exoplanet_data['Orbital Period (days)'] = exoplanet_data['Orbital Period (days)'].astype('int64')
exoplanet_data['SemiMajor Axis (AU)'] = exoplanet_data['SemiMajor Axis (AU)'].astype('int64')
exoplanet_data['Spectral_Type'] = exoplanet_data['Spectral_Type'].astype('string')
exoplanet_data['Mass (Jupiter Mass)'] = exoplanet_data['Mass (Jupiter Mass)'].astype('int64')
exoplanet_data['Temperature'] = exoplanet_data['Temperature'].astype('int64')
exoplanet_data['Stellar_Luminosity'] = exoplanet_data['Stellar_Luminosity'].astype('int64')
exoplanet_data['Right Ascension (RA)'] = exoplanet_data['Right Ascension (RA)'].astype('int64')
exoplanet_data['Declination (Dec)'] = exoplanet_data['Declination (Dec)'].astype('int64')
exoplanet_data['radius'] = exoplanet_data['radius'].astype('int64')
exoplanet_data['density'] = exoplanet_data['density'].astype('int64')
exoplanet_data['Ri (AU)'] = exoplanet_data['Ri (AU)'].astype('float')
exoplanet_data['Ro (AU)'] = exoplanet_data['Ro (AU)'].astype('float')
exoplanet_data['Habitable Zone'] = exoplanet_data['Habitable Zone'].astype('string')

In [13]:
exoplanet_data.to_csv('exoplanetdata.csv',encoding = "utf-8", index = False, header = True)
exoplanet_data.head()

,Planet Name,Discovery Year,Orbital Period (days),SemiMajor Axis (AU),Spectral_Type,Mass (Jupiter Mass),Temperature,Stellar_Luminosity,Right Ascension (RA),Declination (Dec),radius,density,Ri (AU),Ro (AU),Habitable Zone
5,TOI-1260 c,2021,7,0,K6 V,0,3953,0,157,65,2,3,0.342613,0.493585,No
6,HD 149143 b,2005,4,0,G0,1,5582,2,248,2,13,0,1.426605,2.055238,No
7,HD 210702 b,2007,354,1,K1 III,1,4677,14,332,16,13,1,3.579346,5.156584,No
8,HIP 12961 b,2010,57,0,M0,0,3627,0,41,-23,13,0,0.300472,0.432875,No
9,HD 11755 b,2015,433,1,G5,5,4038,147,29,73,12,4,11.582536,16.686378,No

In [ ]:
exoplanet_data.dtypes

Planet Name               string
Discovery Year             int64
Orbital Period (days)      int64
SemiMajor Axis (AU)        int64
Spectral_Type             string
Mass (Jupiter Mass)        int64
Temperature                int64
Stellar_Luminosity         int64
Right Ascension (RA)       int64
Declination (Dec)          int64
radius                     int64
density                    int64
Ri (AU)                  float64
Ro (AU)                  float64
Habitable Zone            string
dtype: object

In [14]:
list = []
for x in range(len(exoplanet_data)):
    if exoplanet_data.iloc[x,14] == "Yes":
        list.append(exoplanet_data.iloc[x,0])
print(list)

['GJ 3293 d', 'GJ 180 c', 'HD 136118 b', 'GJ 433 d', 'HD 125612 b', 'HD 4732 c', 'GJ 687 b', 'HD 191939 g', 'HD 210277 b', 'HD 10180 g', 'HD 147379 b', 'HD 111998 b', 'HD 165155 b', 'TOI-700 d', 'BD+45 564 b', '55 Cnc f', 'Kepler-22 b', 'HD 17674 b', 'HD 175167 b', 'HD 190228 b', 'HD 99109 b', 'HD 213240 b', 'BD+14 4559 b', 'GJ 1002 b', 'HD 16175 b', 'GJ 96 b', 'HD 142415 b', 'HD 100777 b', 'HD 13167 b', 'HD 159868 b', 'HD 10697 b', 'HIP 56640 b', 'HD 108874 b', 'HD 188015 b', 'HD 18015 b', 'HD 4113 b', 'HD 218566 b', 'HD 221287 b', 'HD 222582 b', 'Kepler-1661 b', 'TOI-2257 b', 'GJ 273 b', 'GJ 667 C f', 'GJ 667 C c', 'HD 181720 b', 'HD 20782 b', 'HD 13908 c', 'HD 5319 b', 'HD 564 b', 'HD 183263 b', 'HD 147513 b', 'HD 114729 b', 'HD 28185 b', 'HD 125390 b', 'HD 38529 c', 'HD 145934 b', 'HD 63765 b', 'Kepler-155 c', 'HD 216435 b', 'GJ 3293 b', 'KELT-6 c', 'HD 103891 b', 'GJ 876 c', 'HD 23079 b', 'HD 40307 g', 'HD 86264 b', 'HD 137388 b', 'GJ 1061 d', 'HD 43197 b', 'ups And d', 'BD+55 362 b', 'HD 34445 f', 'Kepler-296 e', 'GJ 422 b', 'HD 45364 c', 'Proxima Cen b', 'Wolf 1069 b', 'TOI-715 b']

In [15]:
plan = []

exoplanet_names = ['Proxima Centauri b', 'TRAPPIST-1e', 'TRAPPIST-1f', 'TRAPPIST-1g', 'Kepler-452 b', 'LHS 1140 b','Earth','Kepler-186 f','Ross 128 b','GJ 667 C c']
for x in list:
    if x in exoplanet_names:
        plan.append(x)
print(plan)

['GJ 667 C c']

In [16]:

import sqlite3

# Read CSV data into a pandas DataFrame
csv_file = 'exoplanetdata.csv'
data = pd.read_csv(csv_file)

# Define SQLite database file
db_file = 'exoplanet.sqlite'

# Create a connection to the SQLite database
conn = sqlite3.connect(db_file)

# Convert DataFrame to SQLite table
data.to_sql('exoplanet_table', conn, if_exists='replace', index=False)

# Close the database connection
conn.close()