In [1]:
import requests
import pandas as pd
import math

In [2]:
# API URL
api_url = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+*+from+pscomppars&format=json"

In [3]:
# Make get request to the API
response = requests.get(api_url)

In [ ]:
# Check if the request was successful (status code 200?)
Planet_Name = []
Discovered_Year = []
Orbital_Period_days = []
SemiMajor_Axis_AU = []
Mass = []
Stellar_Luminosity = []
ra = []
rastr = []
dec = []
decstr = []
glon = []
glat = []
elon = []
elat = []
if response.status_code == 200:
    # Parse JSON response
    data = response.json()
    # Test to print the first few records
    for entry in data:
        Planet_Name.append(entry.get("pl_name"))
        Discovered_Year.append(entry.get("disc_year"))
        Orbital_Period_days.append(entry.get("pl_orbper"))
        SemiMajor_Axis_AU.append(entry.get("pl_orbsmax"))
        Mass.append(entry.get("pl_bmassj"))
        Stellar_Luminosity.append(entry.get("st_lum")) 
        ra.append(entry.get("ra")) 
        rastr.append(entry.get("rastr")) 
        dec.append(entry.get("dec")) 
        decstr.append(entry.get("decstr")) 
        glon.append(entry.get("glon")) 
        glat.append(entry.get("glat")) 
        elon.append(entry.get("elon")) 
        elat.append(entry.get("elat")) 
else:
    print("Error:", response.status_code)

In [34]:
exoplanet_data = pd.DataFrame({'Planet Name':Planet_Name,'Discovery Year':Discovered_Year,'Orbital Period (days)':Orbital_Period_days,'SemiMajor Axis (AU)':SemiMajor_Axis_AU,'Mass (Jupiter Mass)':Mass,'Stellar_Luminosity':Stellar_Luminosity,'Right Ascension (RA)':ra,'Declination (Dec)':dec,'RASTR':rastr,'DECSTR':decstr,'GLON':glon,'GLAT':glat,'ELON':elon,'ELAT':elat })
exoplanet_data = exoplanet_data.dropna()
print(len(exoplanet_data))
exoplanet_data.head(10)

5483

,Planet Name,Discovery Year,Orbital Period (days),SemiMajor Axis (AU),Mass (Jupiter Mass),Stellar_Luminosity,Right Ascension (RA),Declination (Dec),RASTR,DECSTR,GLON,GLAT,ELON,ELAT
0,OGLE-2016-BLG-1227L b,2020,NaN,3.4000,0.79000,NaN,265.597125,-33.759778,17h42m23.31s,-33d45m35.2s,355.52875,-1.93858,266.27974,-10.37734
1,Kepler-276 c,2013,31.884000,0.1994,0.05200,-0.089,293.568197,39.036312,19h34m16.37s,+39d02m10.72s,72.30607,9.13322,307.64188,59.43368
2,Kepler-829 b,2016,6.883376,0.0678,0.01600,0.040,282.332831,42.463813,18h49m19.88s,+42d27m49.73s,71.95093,18.29325,291.86447,64.96975
3,K2-283 b,2018,1.921036,0.0291,0.03830,-0.524,13.194368,9.692918,00h52m46.65s,+09d41m34.51s,123.48272,-53.17740,15.90137,3.72545
4,Kepler-477 b,2016,11.119907,0.0911,0.01550,-0.372,288.067445,42.355305,19h12m16.19s,+42d21m19.10s,73.50616,14.33019,301.32463,63.84272
5,TOI-1260 c,2021,7.493134,0.0657,0.04153,-0.889,157.144071,65.854199,10h28m34.58s,+65d51m15.11s,142.80364,45.37156,126.53164,50.71522
6,HD 149143 b,2005,4.071820,0.0530,1.33000,0.350,248.212671,2.084455,16h32m51.04s,+02d05m04.04s,17.51640,31.48148,246.09724,23.73392
7,HD 210702 b,2007,354.100000,1.1480,1.80800,1.149,332.963864,16.040481,22h11m51.33s,+16d02m25.73s,76.29345,-32.02111,341.23155,25.29546
8,HIP 12961 b,2010,57.435000,0.2500,0.36000,-1.003,41.680075,-23.086005,02h46m43.22s,-23d05m09.62s,210.53871,-63.65019,30.53459,-37.09106
9,HD 11755 b,2015,433.700010,1.0900,5.63000,2.169,29.707836,73.152137,01h58m49.88s,+73d09m07.69s,127.83989,10.92581,63.83546,55.18175

In [27]:
lum = exoplanet_data.Stellar_Luminosity
divisor_ri = 1.1
exoplanet_data['Ri (AU)'] = [math.sqrt(abs(x/divisor_ri)) for x in lum]
divisor_ro = 0.53
exoplanet_data['Ro (AU)'] = [math.sqrt(abs(x/divisor_ro)) for x in lum]
exoplanet_data['Habitable Zone'] = ['Yes' if exoplanet_data['Ri (AU)']>0.95 and exoplanet_data['Ri (AU)']<1.37 else 'No']
exoplanet_data.head()

0         NaN
1      -0.089
2       0.040
3      -0.524
4      -0.372
        ...
5478   -0.439
5479   -2.309
5480    0.271
5481   -0.861
5482   -1.321
Name: Stellar_Luminosity, Length: 5483, dtype: float64

,Planet Name,Discovery Year,Orbital Period (days),SemiMajor Axis (AU),Mass (Jupiter Mass),Stellar_Luminosity,Right Ascension (RA),Declination (Dec),RASTR,DECSTR,GLON,GLAT,ELON,ELAT,Ri (AU)
0,OGLE-2016-BLG-1227L b,2020,NaN,3.4000,0.7900,NaN,265.597125,-33.759778,17h42m23.31s,-33d45m35.2s,355.52875,-1.93858,266.27974,-10.37734,NaN
1,Kepler-276 c,2013,31.884000,0.1994,0.0520,-0.089,293.568197,39.036312,19h34m16.37s,+39d02m10.72s,72.30607,9.13322,307.64188,59.43368,0.284445
2,Kepler-829 b,2016,6.883376,0.0678,0.0160,0.040,282.332831,42.463813,18h49m19.88s,+42d27m49.73s,71.95093,18.29325,291.86447,64.96975,0.190693
3,K2-283 b,2018,1.921036,0.0291,0.0383,-0.524,13.194368,9.692918,00h52m46.65s,+09d41m34.51s,123.48272,-53.17740,15.90137,3.72545,0.690191
4,Kepler-477 b,2016,11.119907,0.0911,0.0155,-0.372,288.067445,42.355305,19h12m16.19s,+42d21m19.10s,73.50616,14.33019,301.32463,63.84272,0.581534